<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juxin.predestinate"
    android:versionCode="10200108"
    android:versionName="3.0.8">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!-- 百度定位所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--录音-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".module.logic.application.App"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.logic.baseui.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.test.TestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.start.NavUserAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.start.UserRegInfoAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.start.UserRegInfoCompleteAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.start.UserLoginExtAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.user.check.UserCheckInfoAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.check.other.UserBlockAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.start.PhoneVerifyAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.UsersSetAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.SettingAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.AboutAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.SearchTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.UserModifyPwdAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.recommend.RecommendAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.recommend.RecommendFilterAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.FeedBackAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.SuggestAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.check.self.info.UserInfoAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.user.check.self.album.UserPhotoAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.utils.PhotoDisplayAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.user.check.edit.info.UserEditInfoAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.user.check.edit.EditContentAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.user.check.other.UserOtherSetAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.user.check.other.UserOtherLabelAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.user.check.edit.UserEditSignAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.start.WebEntranceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- ============= 小友模块start ============= -->
        <activity
            android:name=".ui.user.my.GiftDiamondPayDlg"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.my.NearVisitorAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.my.MyAttentionAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.my.MyDiamondsAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.my.MyDiamondsExplainAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.my.RedBoxRecordAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.my.WithDrawExplainAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.my.WithDrawApplyAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.my.WithDrawSuccessAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.my.RedBoxPhoneVerifyAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.auth.IDCardAuthenticationAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.auth.IDCardAuthenticationSucceedAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.user.my.DemandRedPacketAct"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.user.check.secret.UserSecretAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.user.paygoods.diamond.GoodsDiamondAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.user.paygoods.diamond.GoodsDiamondDialog"
            android:configChanges="screenSize|keyboard|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/No_Background" />

        <activity
            android:name=".ui.user.paygoods.vip.GoodsVipDialog"
            android:configChanges="screenSize|keyboard|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/No_Background" />

        <activity
            android:name=".ui.user.paygoods.ycoin.GoodsYCoinDialog"
            android:configChanges="screenSize|keyboard|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/No_Background" />

        <activity
            android:name=".ui.user.paygoods.ycoin.GoodsYCoinDlgOld"
            android:configChanges="screenSize|keyboard|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/No_Background" />

        <activity
            android:name=".ui.user.paygoods.vip.GoodsVipDlgOld"
            android:configChanges="screenSize|keyboard|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/No_Background" />

        <activity
            android:name=".ui.user.check.secret.dialog.SecretGiftDlg"
            android:configChanges="screenSize|keyboard|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/No_Background" />

        <activity
            android:name=".ui.user.check.secret.dialog.SecretDiamondDlg"
            android:configChanges="screenSize|keyboard|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/No_Background" />

        <activity
            android:name=".ui.user.check.secret.dialog.SecretVideoPlayerDlg"
            android:configChanges="screenSize|keyboard|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/No_Background" />

        <activity
            android:name=".ui.user.paygoods.vip.GoodsVipAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mail.chat.PrivateChatAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.mail.popup.RandomRedBoxActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dialog" />
        <activity
            android:name=".ui.pay.PayListAct"
            android:configChanges="screenSize|keyboard|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.pay.utils.PayPhoneCardAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.pay.cupvoice.PayVoiceAct"
            android:configChanges="screenSize|keyboard|orientation"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.pay.cupvoice.PayCupVoiceDetailAct"
            android:configChanges="screenSize|keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pay.cupvoice.PayCupVoiceOkAct"
            android:configChanges="screenSize|keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pay.PayWebAct"
            android:screenOrientation="portrait" />

        <!-- ============= 相机相册模块start ============= -->
        <activity
            android:name=".module.local.album.activity.TransferActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".module.local.album.activity.PickOrTakeImageActivity"
            android:configChanges="screenSize|keyboard|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.local.album.activity.PickBigImagesActivity"
            android:configChanges="screenSize|keyboard|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.local.album.activity.ResetOrFinishAct"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".module.local.album.crop.CropImageAct"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.user.auth.RecordVideoAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.auth.MyAuthenticationVideoAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.auth.MyAuthenticationAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.start.FindPwdAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.start.PhoneVerifyCompleteAct"
            android:screenOrientation="portrait" />

        <!-- ============= 锁屏弹窗 ============= -->
        <activity
            android:name=".module.logic.notify.view.UserMailNotifyAct"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/android:Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".module.logic.notify.view.LockScreenActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".module.logic.notify.LockScreenReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!--================= 发现 =======================-->
        <activity
            android:name=".ui.discover.DefriendAct"
            android:configChanges="screenSize|keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.discover.MyFriendsAct"
            android:configChanges="screenSize|keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.discover.MyDefriendAct"
            android:configChanges="screenSize|keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.discover.UserNoHeadUploadAct"
            android:configChanges="screenSize|keyboard|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.discover.UserRegHeadUploadAct"
            android:configChanges="screenSize|keyboard|orientation"
            android:screenOrientation="portrait" />
        <!-- ============= service =============== -->
        <service
            android:name=".module.logic.socket.CoreService"
            android:process=":coreservice" />

        <!-- ============== 第三方 ====================== -->
        <!-- 百度定位 注意后续对 AK 的替换 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="czltCjkpCiT1sawjuxGzAeTMRWMZATPP" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- ============== 微信其它支付 ==================== -->
        <!-- ============== 二维码支付 ==================== -->
        <activity
            android:name=".ui.pay.wepayother.qrcode.WepayQRCodeAct"
            android:configChanges="screenSize|keyboard|orientation"
            android:screenOrientation="portrait" />
        <!-- ============== 二维码支付结束 ==================== -->
        <!--杰莘公众号-->
        <activity
            android:name="com.switfpass.pay.activity.QQWapPayWebView"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--杰莘公众号end-->
        <!--掌付公众号-->
        <activity
            android:name="com.third.wa5.sdk.ThirdActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@android:style/Theme.Translucent" />
        <!--掌付公众号end-->
        <activity
            android:name="com.switfpass.pay.activity.PayResultActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <!-- ============== 微信其它支付结束 ==================== -->
    </application>

</manifest>